@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*colors*/
    --white-color:var(--white-color)#fff;
    --dark-color:var(--dark-color)#252525;
    --primary-color:var(--primary-color)#3b141c;
    --secondry-color:var(--secondry-color)#f3961c;
    --light-pink-color:var(--light-pink-color)#faf4f5;
    --medium-gray-color:var(--medium-gray-color)#ccc;
    /*fontsize*/
    --font-size-s:var(--font-size-s) 0.9rem;
    --font-size-n:var(--font-size-n)1rem;
    --font-size-m:var(--font-size-m) 1.12rem;
    --font-size-1:var(--font-size-1) 1.5rem;
    --font-size-x1:var(--font-size-x1)2rem;
    --font-size-xx1:var(--font-size-xx1)2.3rem;
    /* font weight*/
   --font-weight-normal:400;
   --font-weight-medium:500;
   --font-weight-semibold:600;
   --font-weight-bold:700;
   /* Border radius*/
   --border-radius-s:var(--border-radius-s)8px;
   --border-radius-m:var(--border-radius-m)30px;
   --border-radius-circule:var(--border-radius-circule)50%;
   /* site max width*/
   --site-max-width: 1300px;
/* styling fir whole site*/
}

html{
    scroll-behavior: smooth;
}

/*styling for whole site*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;

}
img{
    width: 100%;
}
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}
.mezo{
    text-align: center;
    padding: 90px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-x1);
    
}
.mezo::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: #f3961c;

}

/*navbar styling*/
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #3b141c;
}
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.logo-text{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
.navbar .nav-menu .nav-link{
    color:#fff;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 1.12rem;
    transition: 0.3s ease;
    


}
 .navbar .nav-menu .nav-link:hover{
    color: #3b141c;
    background-color: #f3961c;
}
.hero-section{
    min-height: 100vh;
    background: #3b141c;
}

.navbar :where(#menu-close-button,#menu-open-button){
    display: none;
}

    

/*hero section styling*/
.hero-section .section-content{
    display: flexbox;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    justify-content: space-between;
}

   .section-content .tittle {
    font-size: 2.3rem;
    color: #f3961c;
    font-family: "Miniver" ,sans-serif;
}
 .section-content .subtitle{
   margin-top: 8px;
    max-width: 70%;
    font-size: 2rem;
    font-weight: 60;
    

 }
 .section-content .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: 1.12rem;
 }
 .buttons{
    display: flex;
    gap: 23px;
 }
    
 
 .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #3b141c;
    background: #f3961c;
    border-radius: 30px;
    font-size: 1.12rem;
    transition: 0.3s ease;
 }
 .button:hover{
    color: #fff;
    border-color: #fff;
    background: transparent;

 }
 

 
 .hero-image-wrappr{
    max-width: 500px;
    margin-right: 30px;
 }
 /*about section*/
 .about-section{
    padding: 120px 0;
    background: var(--light-pink-color);


 }
 .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between
 }
 .about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%; 
 }
 .mezo{
    padding: 0;
    margin-bottom: 50px;
 }
 .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--border-radius-m);
 }
 .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;

 }
 .social-link{
    color: var(--primary-color);
    font-size: var(--font-size-1);
    transition: 0.2s ease;
 }
 .social-link:hover{
    color: #f3961c;
 }
 /*MENU SECTION*/
 .menu-section{
    color: #fff;
    background:#252525;
    padding: 50px 0 100px;
 }
 .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
 }
 .name{
    margin-bottom: 0;
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight:600 ;
 }
 .text{
    margin-top: 0;
    font-size: 1.2rem;
 }
 .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
 }
 .menu-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 110Px);
    justify-content: space-between;
    text-align: center;
 }
 /*Testimonials*/
 .testimonials-section{
    padding: 50px 0 100px;
    background: #faf4f5;

 }
 .testmonails{
    display: flex;
    padding: 35px;
    flex-direction: column;
align-items: center;
text-align: center;
 }
 .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
 }
 .testimonials-section.testmonails.name{
    margin-bottom: 15px;
    font-size: 1.2rem;
 }
 .feedback{
line-height: 25px;
 }

 /*gallery style*/
 .gallery-section{
    padding: 20px 0 100px;

 }
 .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

 }
 .gallery-item{
    width: calc(100% / 3 - 32px);
    overflow: hidden;
    border: radius 0.9rem;
    transition: 0.3s ease;
 }
 .gallery-item:hover{
    transform: scale(1.3);
 }
 .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
 }

 /*contact-info*/
 .contact-section{
    padding: 50px 0 100px;
    background: #faf4f5;
 }
 .section-content{
    display: flex;
    gap: 48px;
    align-items:flex-start ;
    justify-content: space-between;
 }
 .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;

 }
 .contact-info i{
    font-size: 1.2rem;
 }
 .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;

    margin-bottom: 16px;
    background: #fff;
    border-radius: 0.9rem;
    border: 1px solid #252525;
 }
 .form-input:focus{
    border-color: #f3961c;
 }
 .contact-section .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
 }
 .submit-button{
    background: #3b141c;
    padding: 10px 26px;
    margin-top: 10px;

    color: #fff;
    border-radius: 1.12rem;
    font-weight: 500;
    font-size: var(--border-radius-m);
    border: 1px solid #3b141c;
    transition: 0.3 ease;
 }
  .submit-button:hover{
background: transparent;
color: #3b141c;
  }
  .contact-form{
    width: 50%;
    flex: 1;
    min-width: 300px;
  }
  .footer-section{
    background: #252525;
    padding: 20PX 0 ;
  }
  .copyright-text {
    color:#fff;
  }
  .social-link {
    color:#fff;
  }
  .policy-link{
    color:#fff;
  } 
  .footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.footer-section .social-link-list{
    display: flex;
    gap: 25PX;
}
.footer-section .social-link-list .social-link{
    font-size: var(--font-size-1);

}
  .footer-section .social-link-list .social-link:hover{
    color: #f3961c;
    
  }
  .separtor{
    color: #faf4f5;
    margin: 0 5px;
  }

 @media screen and (max-width:1024px){
    .menu-list{
        gap: 60px;
    }
    .menu-item{
          width: calc(100% / 3 - 60px);
    }
 }

 
 /*responsive media query code for max width 900px*/
 @media screen and (max-width:900px){
    :root{
        --font-size-m:var(--font-size-m) 1rem;
    --font-size-1:var(--font-size-1) 1.3rem;
    --font-size-x1:var(--font-size-x1)1.5rem;
    --font-size-xx1:var(--font-size-xx1)1.8rem;
    }
    .navbar :where(#menu-close-button,#menu-open-button){
        font-size: var(--font-size-1);
        display: block;
    }
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .navbar #menu-open-button{
        color: #fff;
    }
    .navbar .nav-menu{
    display:block;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: left 0.2s ease;

}
.body.show-mobile-menu .navbar .nav-menu{
    left: 0;
}

.navbar .nav-menu .nav-link{
    color: #252525;
    font-size: var(--font-size-1);
    display: block;
    margin-top: 17px;
}
.section-content{
    flex-direction: column;
    gap: 70px;

}
.about-image{
    width: 100%;
    height: 100%;
    max-width: 320px;
    aspect-ratio: 1;

}
.menu-list{
        gap: 30px;
    }
    .menu-item{
          width: calc(100% / 2 - 30px);

    }
    .menu-image{
        max-width: 200px;
    }
    .section-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    

    
 }
 @media  screen and(max-width:640px){
    .menu-item{
        width: 100%;
    }
    .menu-list{
        gap: 60px;
    }
     .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
     }
     

.sub-contact {
    position: absolute;
    overflow: hidden;
    background-color:#fff;
    max-height: 0;
 }

.sub-contact a {
    color: #f3961c;
    text-decoration: none;
    padding: 20px;

} 
.sub-drop {
    padding: 0;
}

.sub-drop ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sub-drop ul li a {
    display: inline-block;
    padding: 10px 20px;
}

.sub-drop ul li:hover {
    background-color: #f3961c;
}

.nav-link:focus {
        background-color:#3b141c;
}

.nav-link:focus ~ .sub-contact {
        max-height: 400px;
        transition: max-height 0s ease-in;
        -webkit-transition: max-height 0.3s ease-in;
        -moz-transition: max-height 0.3s ease-in;
}
.hero-section .section-content{
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    
    justify-content: center;
}
.hero-image-wrappr{
    max-width: 270px;
    margin-right: 0;
}
.section-content :is(.subtitle ,.description){
    max-width:100% ;
}
.buttons{
    justify-content: center;
}

    
 }
 
 
    

.sub-contact {
    position: absolute;
    overflow: hidden;
    background-color:#fff;
    max-height: 0;
 }

.sub-contact a {
    color: #f3961c;
    text-decoration: none;
    padding: 20px;

} 
.sub-drop {
    padding: 0;
}

.sub-drop ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sub-drop ul li a {
    display: inline-block;
    padding: 10px 20px;
}

.sub-drop ul li:hover {
    background-color: #f3961c;
}

.nav-link:focus {
        background-color:#3b141c;
}

.nav-link:focus ~ .sub-contact {
        max-height: 400px;
        transition: max-height 0s ease-in;
        -webkit-transition: max-height 0.3s ease-in;
        -moz-transition: max-height 0.3s ease-in;
}
.hero-section .section-content{
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    
    justify-content: center;
}
.hero-image-wrappr{
    max-width: 270px;
    margin-right: 0;
}
.section-content :is(.subtitle ,.description){
    max-width:100% ;
}
.buttons{
    justify-content: center;
}
.centershow{
    max-width: 9000px;
    position: relative;
    text-align: center;
    display:none;
    width: 100%;
    z-index: 0;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .container {
    max-width: 50000px;
    position: relative;
    margin: auto;
    width: 100%;
    z-index: 0;
  }


   
 



 
    
 




.centershow{
    max-width: 9000px;
    position: relative;
    text-align: center;
    display:none;
    width: 100%;
    z-index: 0;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .container {
    max-width: 50000px;
    position: relative;
    margin: auto;
    width: 100%;
    z-index: 0;
  }

